body{
    color: black;
    font-family: helvetica, arial;
    font-size: 15px;
    background-color: white;
    display: block; 
    font-family: "Roboto Slab", serif;
}

h3{
  width:100%;
  border-bottom:1px solid #eee;
  padding-bottom:12px;
  margin-bottom:18px;
  font-size:36px;
}

.jumbotron{
	background-image:url(https://d13pix9kaak6wt.cloudfront.net/background/maeghansmulders_1314489425_62.jpg);
  background-attachment: fixed;
	height: 850px;
	text-align: center;
	background-repeat: no-repeat;
	color: white;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
	padding-top: 250px;
	padding-right: 55px;
}

.jumbotron p{
    max-width: 600px;
    float: right;
}

.jumbotron h1{
	color: #fff;
	font-size: 65px;
	font-family: 'Shift', helvetica, arial;
	font-weight: bold;
	text-align: right;	
  border-bottom:0;
  padding:0;
  margin:0;
}	

.jumbotron p{
	font-size: 20px;
	text-align: center;
	color: white;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
	color: #fff;
	font-family: 'Shift', helvetica, arial;
	font-weight: lighter;
	text-align: right;  
}

.container p{
  padding-bottom: 45px;

}

.work {
  padding-bottom: 45px;
  padding-top: 45px;

}

.blog {
padding-top: 45px;
padding-bottom: 45px;

}

@font-face {
    font-family: 'si';
    src: url('images/socicon.eot');
    src: url('images/socicon.eot?#iefix') format('embedded-opentype'),
         url('images/socicon.woff') format('woff'),
         url('images/socicon.ttf') format('truetype'),
         url('images/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(images/socicon.svg) format(svg);
    }
}

.soc {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 6px;
  color: black;
  background-color: #ffffff;
}

.soc-icon-last{
  margin:0 !important;
}

.soc-twitter:before {
  content:'a';
}
.soc-facebook:before {
  content:'b';
}
.soc-linkedin:before {
  content:'j';
}
.soc-instagram:before {
  content:'x';
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*body { background:rgb(30,30,40); }*/
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid black; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

input[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica;
  width: 100%;
  background:black;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

input[type="submit"]:hover {
  background:black;
}

.footer{
	color: white;
	background-color: black;	
  padding: 0 70px 70px;
	font-family: helvetica, arial;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	display: block;
}

.footer .btn-top{
  background:white;
  color:black;
  width:50px;
  height:50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display:inline-block;
  font-weight:bold;
  line-height:15px;
  margin: -25px 0 50px 0;
}

.footer .btn-top .glyphicon{
  margin-top: 10px;

}

.footer .btn-top:hover{
  text-decoration:none;
}

section.module:last-child {
  margin-bottom: 0;
  font-family: 'Montserrat', Arial, Helvetica;

}
section.module h3 {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: 'Montserrat', Arial, Helvetica;

}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Montserrat', Arial, Helvetica;

}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  font-family: 'Montserrat', Arial, Helvetica;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("https://images.unsplash.com/9/bob-van-aubel-ray-bans.jpg?q=80&fm=jpg&s=3c8e975b7a2e7b92bff336e5ca954491");
}
section.module.parallax-2 {
  background-image: url("https://images.unsplash.com/photo-1413708617479-50918bc877eb?q=80&fm=jpg&s=faaf73c7c8a3be1883b07ecd6e19473a");
}
section.module.parallax-3 {
  background-image: url("https://images.unsplash.com/uploads/14131528928453585b6dc/829d24cf?q=80&fm=jpg&s=185ea33e5d7925617f517930b36df4ef");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h2 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h2 {
    font-size: 160px;
  }
}