body{
    color: white;
    font-size: 15px;
    background-color: white;
    display: block; 
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Cabin', sans-serif;
  color:rgba(26,26,26,.9);
  margin-top:0;
  margin-bottom:18px;
}

h3{
  width:100%;
  font-family: 'Cabin', sans-serif;
  border-bottom:1px solid #eee;
  padding-bottom:12px;
  margin-bottom:18px;
  font-size:36px;
}

p{
  color:rgba(26, 26, 26, 0.6);
  font-family: 'Old Standard TT', serif;
  font-size:16px;
  line-height:1.5;
  margin-bottom:15px;
}

.container{
  padding:40px 0;
  position:relative;

}

.jumbotron{
	background-image:url(https://d13pix9kaak6wt.cloudfront.net/background/maeghansmulders_1314489425_62.jpg);
  background-attachment: fixed;
	height: 850px;
	text-align: center;
	background-repeat: no-repeat;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
	padding-top: 250px;
	padding-right: 55px;
  margin-bottom:0;
}


.jumbotron h1{
	color:white;
  font-family: 'Cabin', sans-serif;
	font-size: 65px;
	font-weight: bold;
	text-align: right;
  border-bottom:0;
  padding:0;
  margin:0;
}	

.jumbotron p{
	font-size: 19px;
  font-family: 'Cabin', sans-serif;
	text-align: center;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
	color: rgba(26, 26, 26, 0.6); 
  float: right;
  background-color: white;
  line-height: 36px;
  padding: 5px 30px;
  letter-spacing: -1.5px;
  margin-right: 40px;
  width: 490px;
  word-wrap: break-word;

}

.center{
  text-align:center;
}

.work{
  padding: 50px 70px 100px 0px;
}

.work-item{
  position:relative;
  display:inline-block;


}

.work-item .content{
  z-index: 1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column; opacity: 0; transition:opacity .3s ease-out;
}

.work-item:hover .content{
  opacity: 1;
  font-family: 'Cabin', sans-serif;
}

.work-item h1{
  color:white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}


.work-item img{
  width:260px;
  height:260px;
  -webkit-filter: grayscale(1)  brightness(1);
  transition: -webkit-filter .3s ease-out;
  width:23 %;
}

.work-item:hover img{
  -webkit-filter: grayscale(0) brightness(0.7);
}

.blog {
padding-top: 45px;
padding-bottom: 45px;

}

/*body { background:rgb(30,30,40); }*/
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid black; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
@font-face {
    font-family: 'si';
    src: url('images/socicon.eot');
    src: url('images/socicon.eot?#iefix') format('embedded-opentype'),
         url('images/socicon.woff') format('woff'),
         url('images/socicon.ttf') format('truetype'),
         url('images/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(images/socicon.svg) format(svg);
    }
}

.soc {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 6px;
  color: black;
  background-color: #ffffff;
}

.soc-icon-last{
  margin:0 !important;
}

.soc-twitter:before {
  content:'a';
}
.soc-facebook:before {
  content:'b';
}
.soc-linkedin:before {
  content:'j';
}
.soc-instagram:before {
  content:'x';
}

@import url(https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT);

}

.footer{
	color: white;
	background-color: black;	
  padding: 0 70px 70px;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	display: block;
}

.footer p{
  color: black;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;

}

.footer .btn-top{
  background:white;
  color:black;
  width:50px;
  height:50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display:inline-block;
  font-weight:bold;
  line-height:15px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -20px;
}

.footer .btn-top .glyphicon{
  margin-top: 10px;

}

.footer .btn-top:hover{
  text-decoration:none;
}

section.module:last-child {
  margin-bottom: 0;

}
section.module h3 {
  margin-bottom: 80px;
  font-size: 20px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  font-family: 'Cabin', sans-serif;
  line-height: 300px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("https://images.unsplash.com/9/bob-van-aubel-ray-bans.jpg?q=80&fm=jpg&s=3c8e975b7a2e7b92bff336e5ca954491");
}
section.module.parallax-2 {
  background-image: url("https://images.unsplash.com/photo-1413708617479-50918bc877eb?q=80&fm=jpg&s=faaf73c7c8a3be1883b07ecd6e19473a");
}
section.module.parallax-3 {
  background-image: url("https://images.unsplash.com/uploads/14131528928453585b6dc/829d24cf?q=80&fm=jpg&s=185ea33e5d7925617f517930b36df4ef");
}

button,
input[type=submit]{
  background: rgba(26,26,26,0);
  border: 2px solid rgba(26,26,26,.9);
  color:rgba(26,26,26,.9);
  padding: 12px;
  transition: all .3s ease-out;
}

button:hover, input[type=submit]:hover{
  color:white;
  background: rgba(26,26,26,.9);
}

button.white{
  color: white;
  border-color: white;
  background: rgba(255,255,255,0);
}

button.white:hover{
  color:black;
  background-color: white;
}

input[type=submit]{
  width:100%;
}