body{
    color: black;
    font-family: helvetica, arial;
    font-size: 15px;
    background-color: white;
    display: block; 

}

.jumbotron{
	background-image:url(https://d13pix9kaak6wt.cloudfront.net/background/maeghansmulders_1314489425_62.jpg);
	height: 850px;
	text-align: center;
	background-repeat: no-repeat;
	color: white;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
	padding-top: 250px;
	padding-right: 55px;
}

.jumbotron p{
    max-width: 600px;
    float: right;
}

.jumbotron h1{
	color: #fff;
	font-size: 65px;
	font-family: 'Shift', helvetica, arial;
	font-weight: bold;
	text-align: right;	
}	

.jumbotron p{
	font-size: 20px;
	text-align: center;
	color: white;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .5);
	color: #fff;
	font-family: 'Shift', helvetica, arial;
	font-weight: lighter;
	text-align: right;  
}

.work-links .work-item{
    width: 25%;
    height: 275px;
    float:left;
    background-size:cover;
    color: black;
    background-color: #FDFDFD;
    position:relative;
}

.work-item .hover{
    opacity:0;
    position:absolute;
    width:100%;
    height:100%;
    padding:30px;
    background:rgba(255,255,255, 0.6);
    text-decoration:none;
}

.work-item:hover .hover{
    opacity:1;
    text-align:justify;
    color:#000000;
    font-size:20px;
    padding:30px;
}

.blog p{
    padding-right: 90px;
    padding-top: 25px;
}


@font-face {
    font-family: 'si';
    src: url('images/socicon.eot');
    src: url('images/socicon.eot?#iefix') format('embedded-opentype'),
         url('images/socicon.woff') format('woff'),
         url('images/socicon.ttf') format('truetype'),
         url('images/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(images/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 6px;
    color: black;
    background-color: #ffffff;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin:before {
    content:'j';
}
.soc-instagram:before {
    content:'x';
}

.footer{
	color: white;
	background-color: black;	
    padding: 0 70px 70px;
	font-family: helvetica, arial;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	display: block;
}

.footer .btn-top{
    background:white;
    color:black;
    width:50px;
    height:50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display:inline-block;
    font-weight:bold;
    line-height:15px;
    margin: -25px 0 50px 0;
}

.footer .btn-top .glyphicon{
    margin-top: 10px;
}

.footer .btn-top:hover{
    text-decoration:none;
}